.header {
	background-color: aliceblue;
	width: 100%;
	position: fixed;
	top: 0;
	box-shadow: 0px 0px 15px #00000083;
	display: flex;
	justify-content: center;
}

.header .nav {
	display: flex;
	width: 50%;
	justify-content: space-between;
	padding: 1rem 0;
}

.header h2 {
	display: flex;
	align-items: center;
}
