* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: grey;
}
#root {
	background-color: aliceblue;
	min-height: 400px;
	width: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	border: 1px solid grey;
	border-radius: 2rem;
	box-shadow: 0px 0px 10px #00000083;
}

.main-h1 {
	padding: 2rem 0;
	text-decoration: overline;
}

.todo-form {
	display: flex;
	justify-content: center;
	gap: 0.5rem;
	height: 2rem;
	margin-bottom: 2rem;
}

.todo-input {
	padding-left: 0.3rem;
}

.submit,
.activate {
	min-width: 3rem;
	background-color: rgb(105, 215, 101);
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

.activate {
	font-size: 1.4rem;
	background-color: coral;
}

.activate.true {
	background-color: grey;
}

.todo-list {
	/*  text-align: center; */
	align-items: center;
	display: flex;
	width: 70%;
	flex-direction: column;
	justify-content: center;
	gap: 0.5rem;
	padding-bottom: 1rem;
}

.todo-list li {
	list-style: none;
	width: 100%;
	justify-content: space-around;
	align-items: center;
	display: flex;
}
.todo-list li label {
	flex: 15;
	text-align: start;
	user-select: none;
	overflow-x: hidden;
	padding: 0 1rem;
}

.todo-list button {
	background-color: rgb(252, 88, 88);
	width: 1rem;
	border: none;
	flex: 1;
	cursor: pointer;
}

.edit {
	width: 100%;
	display: flex;
	justify-content: space-around;
}

.edit input {
	flex: 10;
}

.edit .save {
	flex: 1;
	background-color: #1db36d;
}

.edit .cancel {
	background-color: coral;
	flex: 3;
}

label.true {
	text-decoration: line-through;
}

.filter-area {
	padding-top: 0.3rem;
	border-top: 1px solid grey;
	height: 100px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: flex-start;
}

@media screen and (max-width: 650px) {
	#root {
		width: 80%;
	}
}

@media screen and (max-width: 370px) {
	#root {
		width: 100%;
	}

	.edit input {
		flex: 1;
	}
	.edit .cancel {
		flex: 5;
	}
}
