* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

#root {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: grey;
}
.todo-app {
	background-color: aliceblue;
	min-height: 400px;
	width: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	border: 1px solid grey;
	border-radius: 2rem;
	box-shadow: 0px 0px 10px #00000083;
}

.main-h1 {
	padding: 2rem 0;
	text-decoration: overline;
}

.todo-form {
	display: flex;
	font-size: 4rem;
	width: 80%;
	gap: 0.2rem;
}

.todo-input {
	padding-left: 0.3rem;
}

.activate {
	font-size: 1.4rem;
	background-color: coral !important;
}

.activate.true {
	background-color: grey !important;
}

.edit {
	width: 100%;
	display: flex;
	margin-bottom: 0.2rem;
}

.edit .edit-field {
	flex: 12;
}

.edit .save {
	flex: 1;
	background-color: #1db36d;
}

.edit .cancel {
	background-color: coral;
	color: white;
	flex: 1;
}

label.true {
	text-decoration: line-through;
}

.filter-area {
	padding-top: 0.3rem;
	border-top: 1px solid grey;
	height: 100px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: flex-start;
}

@media screen and (max-width: 650px) {
	.todo-app {
		width: 80%;
	}
}

@media screen and (max-width: 370px) {
	.todo-app {
		width: 98%;
	}
}
